/* ContactUs.css */

/* Feedback Form */
.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.feedback-form h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

.feedback-textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    resize: none;
}

.feedback-submit-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-submit-button:hover {
    background-color: #0056b3;
}

/* About Us Section */
.contact-us-container {
    padding: 20px;
    background-color: #f9f9f9; /* Light background */
}

.team-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.contact-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.contact-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #007bff;
}

.contact-name {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333333;
}

.contact-position {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 8px;
}

.contact-bio {
    font-size: 0.9rem;
    color: #666666;
    margin: 0;
}
